.app-header 
    padding: 20px
    background: color-main
    color: color-alt
    width: 100%
    clearfix()

.site-brand
    float: left
    a
        text-decoration: none
        color: #fff
    h1
        margin: 0
    p
        margin: 0