html, body 
    font-family: 'Ubuntu', sans-serif
    line-height: 1.5
    font-weight: 100

h1, h2, h3, h4, h5
    font-weight: 100
    
.app-content a 
    color: color-main
    text-decoration: none
    border-bottom: 1px solid #4fc08d